body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.user-management-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #008000;
    background-color: #f4f4f4;
    color: #008000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.actions button {
    margin-left: 5px;
}
